@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffe4e6;
  --foreground: #1E1E1E;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
} */

body {
  background: #1E1E1E; /* Black background */
  color: #ffffff; /* White text */
  font-family: Arial, Helvetica, sans-serif;
}